bin/
/db
.DS_Store
.idea
.eclipse
.classpath
.project
.settings/
*.eml
.cache
/lib/
/logs/
/target/
/project/target/
/project/project
database.mv.db
database.trace.db
database.h2.trace.db
database.lock.db
